html{
    font-size: 62.5%;  
    box-sizing: border-box;
}
body{
    font-size: 2 rem;
    font-family: Helvetica;
    margin: 0;  /*we want default margin*/
    height: 100vh;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;     /*specs for header main footer*/
    height: 100%;
}
.header{
    grid-area: header;
    background-color: #ffb0b0;
    color: white;
    display: flex;
    justify-content: space-between;   /*space between brand name and sign-in*/
    align-items: center;   /*center of header space*/
    padding: 0.5rem;
}
 .brand a{                           /*change color of linked text */
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none; 
}
.header-links a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}
.header-links a:hover {
    color: #b88c8c;
}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color: #ffb0b0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
}